
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">

    <title>
        {% block title %}Customer Management{% endblock %}
    </title>

    <link rel="stylesheet" href="{{ asset('css/customer.css') }}?v=6">
</head>

<body>

<nav class="navbar">
    <div class="container">
        <h2>Customer Management</h2>

        <div class="nav-links">
            <a href="{{ path('customer_list') }}">Customers</a>
            <a href="{{ path('customer_create') }}">Add Customer</a>
        </div>
    </div>
</nav>

<div class="container page-content">

    {% block body %}
    {% endblock %}

</div>

</body>
</html>
